@font-face {
    font-family: 'GothamPro-400';
    src: url('../font/GothamPro/GothamPro.ttf');
}
@font-face {
    font-family: 'GothamPro-700';
    src: url('../font/GothamPro/gothampro_bold.ttf');
}